/* Reset and Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  color: #ffffff; 
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  -webkit-font-smoothing: antialiased; /* Improve text rendering for WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improve text rendering for Firefox on macOS */
  text-rendering: optimizeLegibility;
}

a:hover {
  color: #ffffff; /* Keep the text color white */
  background-color: #53535300;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.6),
               0 0 30px rgba(255, 255, 255, 0.4);
}

.inter-asd {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


/* Headings */

h1, h2, h3 {
	font-family: "Inter", sans-serif;
}

h1 {
  color: #ffffff; 
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 300%; /* h1 size */
}

h2 {
  color: #ffffff; 
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 100%; /* h1 size */
}

h3,
strong {
  color: #ffffff; 
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 100%;
  line-height: 130%;
}

/* Container Specific Styles */
.home-title span {
  color: #ffffff; 
  /* color: rgb(0, 0, 0); */
}

#threejs-container {
  opacity: 1 !important; /* Ensure full opacity */
  transition: none !important; /* Prevent transitions */
}

/* Video and Image Grid */
.vidz {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Responsive grid layout */
	gap: 20px; /* Space between grid items */
	padding: 20px; /* Padding around grid container */
	justify-items: center; /* Center items horizontally */
	align-items: center; /* Center items vertically */
  }
  
  /* Common styles for videos and images */
  .vidz video, .vidz img {
	max-width: 100%; /* Ensure fitting within container */
	max-height: 240px; /* Maximum height for videos and images */
	height: auto; /* Maintain aspect ratio */
	object-fit: contain; /* Ensure content fits without stretching */
	border-radius: 8px; /* Optional rounded corners */
  }
  
  /* Video Hover Effect */
  .vidz video:hover {
	transform: scale(1.03); /* Enlarge on hover */
	transition: transform 0.3s ease-in-out; /* Smooth transition */
  }
  
  /* Anchor Tags within .vidz */
  .vidz a, .vidz a:link, .vidz a:active, .vidz a:visited {
	color: rgb(255, 255, 255); /* Text color */
	text-decoration: none; /* No underline */
	transition: color 0.3s ease-in-out; /* Color transition */
  }
  
  .vidz a:hover {
	color: #ffffff; /* Text color on hover */
	background-color: lightgrey; /* Background color on hover */
  }
  